In [1]:
import os
import random
import pandas as pd
import numpy as np
data={}

In [2]:
df=pd.read_csv(r"C:\Users\hrith\Desktop\driver_imgs_list.csv")
df1=df.sample(frac=1)
df1

      subject classname            img
1834     p014        c2  img_40126.jpg
17715    p056        c9  img_20408.jpg
19668    p066        c2  img_28983.jpg
6150     p022        c4  img_28447.jpg
18314    p061        c6  img_20636.jpg
...       ...       ...            ...
8589     p026        c3  img_57834.jpg
15000    p050        c5  img_52243.jpg
10795    p041        c0  img_97738.jpg
20653    p072        c4   img_9466.jpg
10450    p039        c5  img_58506.jpg

[22424 rows x 3 columns]

In [3]:
import numpy as np
emotion_list=np.unique(np.array(df1.classname))
emotion_list

array(['c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9'],
      dtype=object)

In [4]:
os.mkdir("/masterdata")
os.mkdir("/masterdata/training")
os.mkdir("/masterdata/testing")

In [14]:
split_size=0.8
train_size=int(split_size*len(df1))
train_data=np.array((df1.classname[:train_size],df1.img[:train_size]))
test_data=np.array((df1.classname[train_size:],df1.img[train_size:]))

In [15]:
from shutil import copyfile
for j in range(len(train_images[0])):
        source=os.path.join(r"C:\Users\hrith\Desktop\imgs\train",train_data[0][j],train_data[1][j])
        dest=os.path.join(r"/masterdata/training/",train_data[0][j],train_data[1][j])
        copyfile(source,dest)
for j in range(len(test_images[0])):
        source=os.path.join(r"C:\Users\hrith\Desktop\imgs\train",test_data[0][j],test_data[1][j])
        dest=os.path.join(r"/masterdata/testing/",test_data[0][j],test_data[1][j])
        copyfile(source,dest)

In [16]:
import tensorflow as tf
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.layers import Conv2D,MaxPooling2D,Dense,Flatten,Dropout

In [17]:
model=tf.keras.models.Sequential([

Conv2D(128,(2,2),activation='relu', input_shape=(64,64,3)),
MaxPooling2D(2,2),
Conv2D(256,(2,2),activation='relu'),
MaxPooling2D(2,2),
Conv2D(512,(2,2), activation='relu'),
MaxPooling2D(2,2),
Conv2D(1024,(2,2),activation='relu'),
MaxPooling2D(2,2),
Dropout(0.5),
Flatten(),
Dense(1024, activation='relu'),
Dropout(0.5),
Dense(10, activation='softmax')
])
  


model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 63, 63, 128)       1664
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 31, 31, 128)       0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 30, 30, 256)       131328
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 15, 15, 256)       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 14, 14, 512)       524800
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 7, 7, 512)         0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 6, 6, 1024)        2098176
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 3, 3, 1024)        0
_________________________________________________________________
dropout (Dropout)            (None, 3, 3, 1024)        0
_________________________________________________________________
flatten (Flatten)            (None, 9216)              0
_________________________________________________________________
dense (Dense)                (None, 1024)              9438208
_________________________________________________________________
dropout_1 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_1 (Dense)              (None, 10)                10250
=================================================================
Total params: 12,204,426
Trainable params: 12,204,426
Non-trainable params: 0
_________________________________________________________________

In [18]:
model.compile(optimizer="Adam",loss="categorical_crossentropy",metrics=("acc"))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 63, 63, 128)       1664
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 31, 31, 128)       0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 30, 30, 256)       131328
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 15, 15, 256)       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 14, 14, 512)       524800
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 7, 7, 512)         0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 6, 6, 1024)        2098176
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 3, 3, 1024)        0
_________________________________________________________________
dropout (Dropout)            (None, 3, 3, 1024)        0
_________________________________________________________________
flatten (Flatten)            (None, 9216)              0
_________________________________________________________________
dense (Dense)                (None, 1024)              9438208
_________________________________________________________________
dropout_1 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_1 (Dense)              (None, 10)                10250
=================================================================
Total params: 12,204,426
Trainable params: 12,204,426
Non-trainable params: 0
_________________________________________________________________

In [19]:
train_dir=("/masterdata/training/")
test_dir=("/masterdata/testing/")
train_datagen=ImageDataGenerator(rescale=1.0/255)
train_generator=train_datagen.flow_from_directory(train_dir,
                                                 target_size=(64,64),
                                                 class_mode="categorical",
                                                 batch_size=40
                                                 )

test_datagen=ImageDataGenerator(rescale=1.0/255)
test_generator=test_datagen.flow_from_directory(test_dir,
                                                target_size=(64,64),
                                                class_mode="categorical",
                                                batch_size=40
                                                 )

Found 17939 images belonging to 10 classes.
Found 4485 images belonging to 10 classes.

In [20]:
es=EarlyStopping(monitor="val_acc",patience=2,min_delta=0.01)

In [21]:
model.fit(train_generator,epochs=25,verbose=1,validation_data=test_generator,shuffle=True,callbacks=[es])

Epoch 1/25
449/449 [==============================] - 487s 1s/step - loss: 1.3564 - acc: 0.5006 - val_loss: 0.2668 - val_acc: 0.9249
Epoch 2/25
449/449 [==============================] - 487s 1s/step - loss: 0.2386 - acc: 0.9270 - val_loss: 0.0858 - val_acc: 0.9744
Epoch 3/25
449/449 [==============================] - 487s 1s/step - loss: 0.1139 - acc: 0.9663 - val_loss: 0.0502 - val_acc: 0.9857
Epoch 4/25
449/449 [==============================] - 489s 1s/step - loss: 0.0758 - acc: 0.9773 - val_loss: 0.0472 - val_acc: 0.9882
Epoch 5/25
449/449 [==============================] - 494s 1s/step - loss: 0.0550 - acc: 0.9824 - val_loss: 0.0494 - val_acc: 0.9886